<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResultPage | <%= city %> </title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 id="page-title">
            <%= city.toUpperCase() %> 
        </h1>
    </header>
    <main>
        <div class="flex-container">
            <section id="most-common-crimes">
                <h2>De fem mest vanliga brotten i området</h2>
                <% let index = 0;  %> 
                <% for(let key in statistic) { %>
                    <ul>
                        <% if(index < 5)  {%> 
                        <li><%= key %>  : <%= statistic[key] %> </li>
                        <% index ++ } %> 
                    </ul>
                <% }; %>      
            </section>
            <section id="crimes-count">
                <h2>Antal brott</h2>
                <div class="crimes-count-display">
                    <p>Idag: <%= crimeCount.day %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 7 dagarna: <%= crimeCount.week %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 30 dagarna: <%= crimeCount.month %> </p>
                </div>
            </section>
            <section id="average-pay">
                <h2>Genomsnittlig månadslön i <br><%= city %> är <%= income %> </h2>              
            </section>
        </div>
    
        <section id="police-data">
            <table>
                <tr id="table-header">
                    <th>Typ av brott</th>
                    <th>Plats</th>
                    <th>Tid</th>
                    <th>Beskrivning</th>
                </tr>
                <% data.forEach(function(dat) { %>
                    <tr>
                    <td><%= dat.type %></td>
                    <td><%= dat.location.name%></td>
                    <td><%= dat.datetime%></td>
                    <td><%= dat.summary%></td>
                    </tr>
                <% }); %>
            </table>
        </section>
    </main>
</body>
</html>

      