<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResultPage | <%= locals.city ? city : '' %> </title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="dim">
    <nav>
        <div class="nav-fostrap">
          <ul>
            <li><a href="/">Home</a></li>    
            <li><a href="/aboutPage">About</a></li>
            <li><a href="/contactPage">Contact</a></li>
            <li><a>References<span class="arrow-down"></span></a>
                <ul class="dropdown">
                  <li><a href="https://polisen.se/kontakt/om-webbplatsen/oppna-data/api-over-polisens-handelser/" target="_blank">Polisen</a></li>
                  <li><a href="https://www.scb.se/en/services/open-data-api/api-for-the-statistical-database/" target="_blank">SCB</a></li>
                </ul>
              </li>
            <li><a href="/faqPage">FAQ</a></li>
          </ul>
        </div>
    </nav>
    <div class='content'>
        <form role="search" action="/resultpage" method="GET>
         <div class="form-group">
            <input id="search" type="search" name="city" placeholder="Search" autofocus required />
            <div class="form-group"> 
                <button class ="btnSubmit" type="submit">Search</button>    
            </div>
         </div>
  
          </form>
      </div>
      <% if (error == 'true'){ %>
        <h1> Det finns inga resultat för din sökning, testa igen! </h1>
      <% } else { %>
    <header>
        <h1 id="page-title">
            <%= city.toUpperCase() %> 
        </h1>
    </header>
    <main>
        <div class="flex-container">
            <section id="valresultat">
                <h2>Valresultat i <%= city %></h2>
                <ul>
                <% for(let i = 0; i < valResultat.length; i++) { %>
                   <li><%= valResultat[i].key[1] %>: <%= (JSON.parse(valResultat[i].values[0])/summaValResultat*100).toFixed(2) + "%" %> </li>
                <% }; %>
                </ul>
            </section>
            
            <section id="most-common-crimes">
                <h2>De fem mest vanliga brotten i området</h2>
                <% let index = 0;  %> 
                <% for(let key in statistic) { %>
                    <ul>
                        <% if(index < 5)  {%> 
                        <li><%= key %>  : <%= statistic[key] %> </li>
                        <% index ++ } %> 
                    </ul>
                <% }; %>      
            </section>
            <section id="crimes-count">
                <h2>Antal brott</h2>
                <div class="crimes-count-display">
                    <p>Idag: <%= crimeCount.day %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 7 dagarna: <%= crimeCount.week %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 30 dagarna: <%= crimeCount.month %> </p>
                </div>
            </section>
            <section id="average-pay">
                <h2>Genomsnittlig månadslön i <br><%= city %> är <%= income %> </h2>              
            </section>

            <!-- Har denna Section ett avslut?, eller behövs de eller har de bara blivit fel kring section/div? /chris-->
        <section id="police-station">
            <div>
                <h2>Polisstation</h2>
                <ul>
                    <li> Namn: <%= resultStation.name %></li>
                    <li> Adress: <%= resultStation.location.name %></li>
                        <li></li>
                    <li> <iframe src=<%= gpsscr %> width="350" height="250" style="border: 3px, black;" allowfullscreen="" loading="lazy"></iframe></li>
                </ul>


            </div>
    </div>
    
        <section id="police-data">
            <table>
                <tr id="table-header">
                    <th>Typ av brott</th>
                    <th>Plats</th>
                    <th>Tid</th>
                    <th>Beskrivning</th>
                </tr>
                <% data[0].forEach(function(dat) { %>
                    <tr>
                        <td><%= dat.type %></td>
                        <td><%= dat.place %></td>
                        <td><%= dat.date %></td>
                        <td><%= dat.description %></td>
                        <td class="share-link" id="<%= dat.id %>"> Dela </td>
                    </tr>
                <% }); %>
            </table>
        </section>
    </div>
        <section id="share-popup">
            <div id="popup-close">
                <p id="close">stäng</p>
            </div>
            <div id="popup-text">
                <p>Dela!</p>
            </div>
            <form action="/mailsender" method="GET" id="share-form">
                <input type="email" id="receiver" name="email" placeholder="skriv en epost här">
                <input type="hidden" name="type" id="type">
                <input type="hidden" name="date" id="date">
                <input type="hidden" name="place" id="place">
                <input type="hidden" name="description" id="description">

                <input type="submit" class="submit">
            </form>
        </section>
    </main>


    <!-- Finns möjlighet att flytta denna till .js? -->
    <script>
        let links = document.getElementsByClassName("share-link");

        var popupFunction = function() {
            window.scrollTo(0, 0);
            let dim = document.querySelector('#dim');
            dim.style.opacity = '10%';
            let popup = document.querySelector('#share-popup');
            popup.style.display = 'flex';
            popup.style.animation = 'popup 1s';

            let type = this.parentNode.childNodes[1].innerText;
            let place = this.parentNode.childNodes[3].innerText;
            let date = this.parentNode.childNodes[5].innerText;
            let description = this.parentNode.childNodes[7].innerText;

            let queryType = document.querySelector('#type');
            let queryPlace = document.querySelector('#place');
            let queryDate = document.querySelector('#date');
            let queryDescription = document.querySelector('#description');

            queryType.value = type;
            queryPlace.value = place;
            queryDate.value = date;
            queryDescription.value = description;

        };

        let close = document.querySelector('#close');
        close.addEventListener('click', () => {
            let dim = document.querySelector('#dim');
            dim.style.opacity = '100%';
            let popup = document.querySelector('#share-popup');
            popup.style.display = 'none';
        })

        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', popupFunction, false);
        }
    </script>
    <% }; %>
</body>
</html>

      