<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResultPage | <%= city %> </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
        *{
            box-sizing: border-box;
        }
        body {
            background-color: #12191f;
            color: #DCDCDC;
            font-family: 'Lato', sans-serif;
        }
        table {
            width: 80%;
            margin: 0 auto;
            text-align: left;
            border-collapse: collapse;
        }
        th, td {
            padding: 1.5em;
            width: 25%;
            border: none;
        }   
        tr {
            width: 100%;
        }

        tr:nth-child(even){
            background-color: #2e3e4d;
        }
        tr:nth-child(odd){
            background-color: #24323d;
        }

        #table-header{
            background-color: #12191f;
            color: #40576b;
        }

        header{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #page-title{
            font-size: 3em;
        }
        #most-common-crimes{
            margin-right: 3em;
            width: 30%;
        }
        .flex-container{
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
        }
        #crimes-count{
            width: 30%;
        }
        .crimes-count-display{
            background-color: #2e3e4d;
            margin-bottom: 2em;
            justify-content: center;
            display: flex;
            align-items: center;
            width: 100%;
        }
        #average-pay{
            margin-left: 2em;
            width: 30%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <header>
        <h1 id="page-title">
            <%= city.toUpperCase() %> 
        </h1>
    </header>
    <main>
        <div class="flex-container">
            
            <section id="most-common-crimes">
                <h2>De fem mest vanliga brotten i området</h2>
                <% let index = 0;  %> 
                <% for(let key in statistic) { %>
                    <ul>
                        <% if(index < 5)  {%> 
                        <li><%= key %>  : <%= statistic[key] %> </li>
                        <% index ++ } %> 
                    </ul>
                <% }; %>      
            </section>
            <section id="crimes-count">
                <h2>Antal brott</h2>
                <div class="crimes-count-display">
                    <p>Idag: <%= crimeCount.day %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 7 dagarna: <%= crimeCount.week %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 30 dagarna: <%= crimeCount.month %> </p>
                </div>
            </section>
            <section id="average-pay">
                <h2>Genomsnittlig månadslön i <br><%= city %> är <%= income %> </h2>              
            </section>
        </div>
    -
        <section id="police-data">
            <table>
                <tr id="table-header">
                    <th>Typ av brott</th>
                    <th>Plats</th>
                    <th>Tid</th>
                    <th>Beskrivning</th>
                </tr>
                <% data[0].forEach(function(dat) { %>
                    <tr>
                    <td><%= dat.type %></td>
                    <td><%= dat.place%></td>
                    <td><%= dat.date%></td>
                    <td><%= dat.description%></td>
                    </tr>
                <% }); %>
            </table>
        </section>
    </main>
</body>
</html>

      