<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResultPage | <%= city %> </title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="nav-fostrap">
          <ul>
            <li><a href="/">Home</a></li>    
            <li><a href="/aboutPage">About</a></li>
            <li><a href="/contactPage">Contact</a></li>
            <li><a>References<span class="arrow-down"></span></a>
                <ul class="dropdown">
                  <li><a href="https://polisen.se/kontakt/om-webbplatsen/oppna-data/api-over-polisens-handelser/" target="_blank">Polisen</a></li>
                  <li><a href="https://www.scb.se/en/services/open-data-api/api-for-the-statistical-database/" target="_blank">SCB</a></li>
                </ul>
              </li>
            <li><a href="/faqPage">FAQ</a></li>
          </ul>
        </div>
      </nav>
    <div class='content'>
        <form role="search" action="/resultpage" method="GET>
            <div class="form-group">
            <input id="search" type="search" name="city" placeholder="Search" autofocus required />
            <div class="form-group"> 
                <button class ="btnSubmit" type="submit">Search</button>    
            </div>
        </div>
  
          </form>
      </div>
    <header>
        <h1 id="page-title">
            <%= city.toUpperCase() %> 
        </h1>
    </header>
    <main>
        <div class="flex-container">
            
            <section id="most-common-crimes">
                <h2>De fem mest vanliga brotten i området</h2>
                <% let index = 0;  %> 
                <% for(let key in statistic) { %>
                    <ul>
                        <% if(index < 5)  {%> 
                        <li><%= key %>  : <%= statistic[key] %> </li>
                        <% index ++ } %> 
                    </ul>
                <% }; %>      
            </section>
            <section id="crimes-count">
                <h2>Antal brott</h2>
                <div class="crimes-count-display">
                    <p>Idag: <%= crimeCount.day %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 7 dagarna: <%= crimeCount.week %> </p>
                </div>
                <div class="crimes-count-display">
                    <p>Senaste 30 dagarna: <%= crimeCount.month %> </p>
                </div>
            </section>
            <section id="average-pay">
                <h2>Genomsnittlig månadslön i <br><%= city %> är <%= income %> </h2>              
            </section>
        </div>
    -
        <section id="police-data">
            <table>
                <tr id="table-header">
                    <th>Typ av brott</th>
                    <th>Plats</th>
                    <th>Tid</th>
                    <th>Beskrivning</th>
                </tr>
                <% data[0].forEach(function(dat) { %>
                    <tr>
                    <td><%= dat.type %></td>
                    <td><%= dat.place%></td>
                    <td><%= dat.date%></td>
                    <td><%= dat.description%></td>
                    </tr>
                <% }); %>
            </table>
        </section>
    </main>
</body>
</html>

      